h1{
    text-align: center;
    color: aquamarine;
}
.col{
    background-color: rgb(234, 237, 133);
    margin: 20px;
    padding: 15px;
}
.col h3{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}