/* section{
    display: flex;
    justify-content: center;
    align-items: center;
} */
h1{
    text-align: center;
    color: aquamarine;
}
.col{
    background-color: rgb(234, 237, 133);
    padding: 15px;
    width: 50%;
    margin:10px auto;
    border-radius: 15px;
}
.col h3{
    color: rgb(12, 89, 112);
    text-transform: capitalize;
}